body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.page {
    display: none;
    max-width: 800px;
    margin: 60px auto 20px; /* Updated margin to make space for buttons */
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.page:target {
    display: block;
}

.nav-button {
    display: block;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 2;
}

.nav-button:hover {
    background-color: #45a049;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    position: relative;
    z-index: 1;
}
